<h2>Добавление данных</h2>
<ul>
    <li>
        @Html.ActionLink("Добавить нового доктора", "CreateDoctor", "Data")
    </li>
    <li>
        @Html.ActionLink("Добавить новый профиль", "CreateProfile", "Data")
    </li>
    <li>
        @Html.ActionLink("Добавить нового пациента", "CreatePatient", "Data")
    </li>
    <li>
        @Html.ActionLink("Добавить новую запись на прием", "CreateAppointment", "Data")
    </li>
</ul>
<h2>Просмотр данных</h2>
<ul>
    <li>
        @Html.ActionLink("Список докторов", "ViewDoctors", "Data")
    </li>
    <li>
        @Html.ActionLink("Список пациентов", "ViewPacients", "Data")
    </li>
    <li>
        @Html.ActionLink("Список записей", "ViewAppointments", "Data")
    </li>
</ul>