@using DoctorsAppointments.Models.ViewModels
@model IndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, DoctorsAppointments

@{
    ViewBag.Title = "Просмотр докторов";
}




<h2>Список докторов</h2>

<form method="get">
    <h3>Поиск</h3>
    <label>ФИО: </label>
    <input name="name" value="@Model.FilterViewModel.SelectedName"/>

    <label>Профиль</label>
    <select name="profile" asp-items="Model.FilterViewModel.Profiles"></select>

    <input type="submit" name="search" value="Поиск"/>

</form>

<a asp-action="Index" asp-controller="Home">Главная страница</a>
 @if(Model.User?.RoleId == 1)
            {
                <p><a asp-action="CreateDoctor" asp-controller="Data">Добавить доктора</a></p>
            }

<table class="table">
    <tr><th>
        <a asp-action="ViewDoctors"
               asp-route-sortOrder="@(Model.SortDoctorsViewModel.FirstNameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedProfile)">
        Имя
        </a>
        </th>
        <th>
            <a asp-action="ViewDoctors"
               asp-route-sortOrder="@(Model.SortDoctorsViewModel.PatronymicSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedProfile)">
            Отчество
            </a>
            </th>
            <th>
                <a asp-action="ViewDoctors"
               asp-route-sortOrder="@(Model.SortDoctorsViewModel.LastNameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedProfile)">
                Фамилия
                 </a>
                </th>
                <th>
                     <a asp-action="ViewDoctors"
               asp-route-sortOrder="@(Model.SortDoctorsViewModel.DateAgeSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedProfile)">
                    Дата рождения
                     </a>
                    </th>
                    <th>
                         <a asp-action="ViewDoctors"
               asp-route-sortOrder="@(Model.SortDoctorsViewModel.ProfileNameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedProfile)">
                        Профиль
                        </a>
                    </th>
                    <th>
                         <a asp-action="ViewDoctors"
               asp-route-sortOrder="@(Model.SortDoctorsViewModel.ExperienceSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedProfile)">
                        Опыт
                          </a>
                        </th>
                        </tr>
    @foreach(var item in Model.Doctors)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.Patronymic</td>
            <td>@item.LastName</td>
            <td>@item.DateAge.ToShortDateString()</td>
            <td>@item.Profile?.Name</td>
            <td>@item.Experience</td>
            @if(Model.User?.RoleId == 3)
            {
                 <td>
                <a asp-action="UserCreateAppointment" asp-controller="Data" asp-route-id="@item.Id">Выбрать</a>
                </td>
            }
            else
            {            
            <td>
                <a asp-action="EditDoctor" asp-controller="Data" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td>
                 <form asp-controller="Data" asp-action="DeleteDoctor" method="post"  asp-route-id="@item.Id">
                    <input type="submit"  name="delete" value="Удалить" />
                </form>
            </td>
            }
        </tr>
    }
</table>

<page-link page-model="Model.PageViewModel" page-action="ViewDoctors"
           page-url-name="@(Model.FilterViewModel.SelectedName)"
           page-url-company="@(Model.FilterViewModel.SelectedProfile)"
           page-url-sortorder="@(Model.SortDoctorsViewModel.Current)"></page-link>
